      .grid {
        position: relative;
        width: 45%;
        background: #ccc;
        border: 5px solid transparent;
        min-height: 100px;
      }

      .item {
        position: absolute;
        width: 18%;
        height: 27%;
        margin: 5px;
        z-index: 1;
        left: inherit !important;
        top: inherit !important;
        border: 2px solid #495057;
        border-radius: 4px;
      }

      .item:hover {
        background-color: #495057;
        transition: 0.5s;
      }
      
      .item.muuri-item-hidden {
        z-index: 0;
      }
      
      .item.muuri-item-releasing {
        z-index: 2;
      }
      
      .item.muuri-item-dragging {
        z-index: 3;
      }

      .item-content {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: white;
        cursor: pointer;
     
      }

      .item-content .background-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 82%;
        width: 100%;
        margin-top: 2%;
      }

      .tile-banner {
        height: 13%;
        width: 100%;
        background-color: #495057;
        bottom: 0;
        position: absolute;
        padding: 0 0 0 0;
      }

      .tile-banner .recipe-tile-header {
        text-align: center;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }