.filters .search-recipe-input {
  z-index: 999;
}

.all-recipes {
  margin-bottom: 25px;
}

.more-options-link {
  color: #289fad !important;
  font-weight: normal;
}

.more-options-link:hover {
  color: #495057 !important;
  transition: 0.5s;
}

.more-options-link span {
  margin-left: 5px;
}

.more-search-options.invisible {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    height: 0;
    /* fade out, then shrink */
    transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
}
.more-search-options {
    /* unshrink, then fade in */
    transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;
}