.ingredient-list {
  list-style: none;
}

.tag-list {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
}

.favorite-recipe {
	font-size: 24pt;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.favorite-recipe:hover {
	color: black;
	opacity: 0.5;
	transition: 0.3s;
}

.favorite-recipe.active {
    color: yellow;	
}