.ingredient-list {
  padding-top: 12px;
  width: 100%;
  margin-top: 25px;
}

.ingredient-list li {
  margin-left: 0px;
  width: 100%;
}

.ingredient-list p {
  height: 100%;
  margin: 0;
  line-height: 30px;
  width: 95%;
}


.ingredient-list li::before { 
  margin-right: 10px;
  content: "";
  background: white;
  border-radius: 100%;
  color: white;
  width: 1em;
  text-align: center;
  display: inline-block;
  border: 4px solid #289fad;
  height: 1em;
  line-height: 2em;
  margin-top: 0.4em;
}

.ingredient-list:empty {
   display: none;
}

.remove-ingredient-icon {
  float: right;
  opacity: 0.5;
  transition: 0.3s;
  color: white;
  background: #d78308;
  border-radius: 100%;
  padding: 3px 4px 0px 4px;
  cursor: pointer;
  height: 1.6em;
}

.remove-ingredient-icon:hover {
  background: #d75108;
  transition: 0.3s;
}