.step-control {
   width: 100% !important;
   min-height: 70px;
}

.step-list {
   margin-top: 25px;
   list-style: none;
   counter-reset: item;
   display: grid;
}

.step-list li {
   counter-increment: item;
   margin-bottom: 10px;
}

.step-list li:before {
   margin-right: 10px;
   content: counter(item);
   background: #289fad;
   border-radius: 100%;
   color: white;
   width: 2em;
   text-align: center;
   display: inline-block;
   line-height: 2em;
   float: left;
}

.step-list p {
   width: 90%;
   float: left;
}