.step-control {
   width: 100% !important;
   min-height: 70px;
}

.step-list {
   margin-top: 25px;
   list-style: none;
   counter-reset: item;
   display: grid;
}

.step-list li {
   counter-increment: item;
   margin-bottom: 10px;
   vertical-align: middle;
   line-height: 31px;
}

.step-list li:before {
   margin-right: 10px;
   content: counter(item);
   background: #289fad;
   border-radius: 100%;
   color: white;
   width: 2em;
   text-align: center;
   display: inline-block;
   line-height: 2em;
   float: left;
}

.step-list p {
   width: 90%;
   float: left;
}

.remove-step-icon {
  opacity: 0.5;
  transition: 0.3s;
  color: white;
  background: #d78308;
  border-radius: 100%;
  padding: 4px 5px 6px 5px;
  cursor: pointer;
}

.remove-step-icon:hover {
  background: #d75108;
  transition: 0.3s;
}

.edit-step-icon {
  opacity: 0.5;
  transition: 0.3s;
  margin-right: 10px;
  color: white;
  background: hsl(0,0%,50%);
  border-radius: 100%;
  padding: 4px 5px 6px 5px;
  cursor: pointer;
}

.edit-step-icon:hover {
   background: #6c757d;
   transition: 0.3s;
}